.btn{
    border-radius: 25px;
    background: $white !important;
    height: 30px;
    font-size: 1rem;
    &:focus{
        box-shadow: none;
    }

}

.btn-favorite{
    color: $red;
    border:1px solid $red;
    &:hover{
        color: $red;
    }
}

.btn-back{
    background-color: $primary !important;
    color: $white;
    &:hover{
        color: $white;
    }
}