// home More
.home__more {
  background-color: $segundari;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
  height: 500px;
  color: $primary;
}

.home__allinfo {
  margin: 0px auto;
  width: 81%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.home__allinfo h4 {
  font-size: 16px;

  &::after {
    display: block;
    content: "";
    width: 50px;
    height: 5px;
    margin-top: 5px;
    border-radius: 25px;
    background-color: $primary;
  }
}

.home__see-more {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.home__see-breeds, .styles_typicalWrapper__1_Uvh {
  font-size: 3rem;
  font-weight: 800;
  width: 80%;
  margin: 0px;
}

.home__see-more button {
  font-weight: 500;
  font-size: 0.8rem;
}

.more-see {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary;
  
  &:hover {
    color: darken($color: $primary, $amount: 20);
  }
}

.more-see p {
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  margin: 0px;
  width: 100%;
  transition: 0.3s ease;

  &:hover {
    text-decoration: underline;
    color: darken($color: $primary, $amount: 20);
  }
}

.home__card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.card {
  align-self: center;
  border: none;
  background-color: $segundari;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space$primary;
  width: 100%;
  color: $primary;
  // margin: auto;
}

.card-img-top {
  height: 170px;
  object-fit: cover;
  border-radius: 25px;
  width: 100%;

  transition: 0.3s ease;

  &:hover {
    box-shadow: 3px 7px 6px -3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 7px 6px -3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 7px 6px -3px rgba(0, 0, 0, 0.25);
  }
}

.card-body {
  padding: 0px;
  margin-top: 10px;
}

.card-text {
  font-size: 0.8rem;
  font-weight: 600;
}
