p {
  margin: 0px;
}
.home__footer {
  background: #000;
  color: $white;
  padding: 0.1px;
  padding: 10px;
  border-radius: 25px 25px 0px 0px;
}

.home__footer-info {
  margin: 0 auto;
  width: 81%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
