@media screen and (min-width: 1440px) {
  .card {
    width: 235px;
  }

  .card-img-top {
    border-radius: 10px;
    // width: 235px;
    height: 180px;
  }

  .home__info-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 0.9fr 0.8fr 0.3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
      ". img1 img1 img1 img3 img3 img3"
      ". img1 img1 img1 img3 img3 img3"
      ". . img2 img2 img3 img3 img3"
      ". . img2 img2 img3 img3 img3"
      ". . img2 img2 . . .";
  }
  .img1 {
    width: 100%;
    height: 120px;
  }
  .img2 {
    width: 100%;
    height: 185px;
  }
  .img3 {
    width: 100%;
    height: 254px;
  }
}

// @media screen and (max-width: 1025px) {
//   .card-img-top {
//     border-radius: 10px;
//     // width: 1fr;
//     height: 1fr;
//   }

//   .home__info-gallery {
//     width: 100%;
//     display: grid;
//     grid-template-columns: 0.9fr 1.1fr 1fr 1fr 1fr 1fr 0.6fr 1.5fr;
//     grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
//     gap: 20px;
//     grid-template-areas:
//       ". img1 img1 img1 img3 img3 img3"
//       ". img1 img1 img1 img3 img3 img3"
//       ". . img2 img2 img3 img3 img3"
//       ". . img2 img2 img3 img3 img3"
//       ". . img2 img2 . . .";
//   }
//   .img1 {
//     height: 120px;
//   }
//   .img2 {
//     height: 185px;
//   }
//   .img3 {
//     height: 254px;
//   }
// }

// .@media screen and (min-width: 1025px) 

@media screen and (max-width: 1024px) {
  .home__card-container {
    grid-template-columns: repeat(auto-fit, minmax(103px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
  }

  .card-img-top {
    border-radius: 10px;
    height: 140px;
  }
  // see more

  .home__more {
    height: 100%;
  }

  .home__see-breeds,
  .styles_typicalWrapper__1_Uvh {
    width: 100%;
    margin-top: 10px;
    font-size: 3rem;
  }
  .more-see p {
    font-size: 0.8rem;
  }

  .home__info-more {
    width: 100%;
    height: 230px;
    justify-content: center;
  }

  .hpta {
    width: 50% !important;
    font-size: 0.5rem;
  }

  .home__info-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr 1fr 1fr 1fr 1fr 0.6fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:
      "img1 img1 img1 img1 img3 img3 img3"
      "img1 img1 img1 img1 img3 img3 img3"
      ". img2 img2 img2 img3 img3 img3"
      ". img2 img2 img2 img3 img3 img3"
      ". img2 img2 img2 . . .";
  }
  .img1 {
    height: 120px;
  }
  .img2 {
    height: 185px;
  }
  .img3 {
    height: 254px;
  }
  .cat__raitin {
    width: 35px;
  }
}

@media screen and (max-width: 768px) {
  .home__search {
    height: 20rem;
    background-image: url(https://i.imgur.com/BP3Uy5t.png);
  }


  .home__info img {
    width: 8rem;
    fill: #fff;
    align-content: flex-start;
    margin-bottom: 10px;
  }

  .home__info p {
    width: 100% !important;
    font-size: 0.9rem;
  }

  .home__input-container {
    width: 100% !important;
    height: 2rem;
    margin-top: 10px !important;
  }

  .home__input-container input {
    width: 100%;
    font-size: 0.5rem;

    &::placeholder {
      content: "search";
    }
  }

  .home__card-container {
    gap: 10px;
  }

  .card-img-top {
    height: 110px;
  }

  .card-text {
    font-size: 0.5rem;
  }
  // see more

  .home__allinfo h4 {
    font-size: 0.8rem;
  }

  // info page
  .home__see-more {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px !important;
  }

  .home__see-breeds,
  .styles_typicalWrapper__1_Uvh {
    font-size: 1.3rem;
  }

  .home__see-more p {
    width: 100%;
    margin-top: 0px;
  }

  .more-see p {
    font-size: 0.5rem;
  }

  .home__info-info {
    margin-top: 1.5rem !important;
  }

  .img1 {
    height: 113px;
  }
  .img2 {
    height: 175px;
  }
  .img3 {
    height: 230px;
  }
}

@media screen and (max-width: 576px) {
  .home__card-container {
    gap: 20px;
  }

  .cat__container {
    grid-template-rows: 0.7fr 1.2fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .cat__display2{
    display: none !important;
  }

  .cat__display{
    display: flex !important;
  } 

  .card-img-top {
    height: 140px;
  }

  // see more
  .home__info-gallery {
    align-self: center;
  }

  .img1 {
    height: 120px;
  }
  .img2 {
    height: 190px;
  }
  .img3 {
    height: 260px;
  }

  // .cat__back{
  //   font-size: 2.3rem;
  // }

  // info page
}

@media screen and (max-width: 450px) {
  .home__search {
    height: 9rem;
    background-image: url(https://i.imgur.com/NlfrCL3.png);
    margin-top: 0.5rem !important;
  }

  .home__info-info {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin: 0 !important;
  }

  .home__info img {
    width: 5rem;
  }

  .home__info p {
    font-size: 0.7rem;
  }

  .home__input-container {
    width: 80% !important;
  }

  .home__input-container input {
    border: none;
    margin: auto 0;

    &::placeholder {
      content: "search";
    }
    &:focus {
      outline: none;
    }
  }

  .home__list {
    width: 132px !important;
    font-size: 0.6rem;
  }

  .list {
    height: 30px;
  }

  .juli a {
    display: flex;
    margin: auto 0px;
    text-decoration: none;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home__card-container {
    grid-template-columns: repeat(auto-fit, minmax(103px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
  }

  .card-img-top {
    border-radius: 10px;
    height: 130px;
  }

  .card-text {
    font-size: 0.5rem;
  }
  // see more

  .home__more {
    height: 100%;
  }

  .home__allinfo h4 {
    font-size: 0.8rem;
  }

  // info page

  .img3 {
    width: 130px;
  }

  .home__info-more {
    width: 90%;
    align-self: center;
  }
  // footer
  .home__footer {
    margin-top: 20px !important;
  }
  .home__footer-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .home__footer-info img {
    width: 5rem;
  }
  .home__footer-info p {
    font-size: 0.8rem;
  }

  .cat__background {
    width: 100%;
    height: 200px;
    border-radius: 25px;
  }

  .cat__presentation {
    display: block;
  }

  .cat__presentation img {
    border-radius: 10px;
    width: 296px;
  }

  .cat__all-info {
    gap: 5px;
    grid-template-rows: 0.1fr 0.2fr 1.4fr;
  }

  .home__info-gallery {
    align-self: center;
    width: 90%;
  }

  .img1 {
    height: 120px;
  }
  .img2 {
    height: 190px;
  }
  .img3 {
    height: 260px;
  }

  .cat__all-info h5 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 10px;
  }

  .cat__all-info p {
    font-size: 0.7rem;
    font-weight: 700;
  }

  .hola span {
    color: black;
    font-weight: 500;
  }

  .rating__a {
    font-size: 0.2rem;
  }

  .rating p {
    width: 100px;
  }

  .cat__raitin {
    width: 30px;
    height: 7px;
  }

  .cat__origin {
    font-size: 2rem;
    font-weight: 700;
    color: lighten($color: #000000, $amount: 5);
  }

  .favorite__title {
    font-size: 0.9rem;
  }

  .favorite__description {
    font-size: 0.5rem;
    font-weight: 600;
  }

  .fav__card-conta{
    flex-direction: column !important;
  }
}

@media screen and (max-width: 415px) {
  
  .nav__favorites{
    font-size: .8rem;
    // width: 20px;
  }
  
  .card-img-top {
    height: 110px;
  }

  // see more

  // info page

  .home__info-gallery {
    gap: 10px;
  }

  .img1 {
    height: 100px;
  }
  .img2 {
    height: 192px;
  }
  .img3 {
    height: 260px;
  }
  

  // footer

  .cat__presentation {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .card-img-top {
    height: 110px;
  }

  .cat__container{
    gap: 10px;
  }

  // see more

  // info page

  .home__info-gallery {
    gap: 10px;
  }

  .img1 {
    height: 100px;
  }
  .img2 {
    height: 192px;
  }
  .img3 {
    height: 260px;
  }

  // footer

  .cat__presentation {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  .home__card-container {
    gap: 10px;
  }

  .card-img-top {
    height: 100px;
  }
  // see more
  // info page

  .home__info-gallery {
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
  }

  .img1 {
    height: 100px;
  }
  .img2 {
    height: 173px;
  }
  .img3 {
    height: 240px;
  }
  // footer
  .cat__presentation {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .home__input-container input {
    font-size: 0.6rem;
  }
  .home__card-container {
    gap: 10px;
  }
  .card-img-top {
    height: 100px;
  }
  .card-text {
    font-size: 0.5rem;
  }
  // see more
  // info page

  .home__info-gallery {
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
  }
  .img1 {
    grid-area: img1;
    height: 100px;
  }
  .img2 {
    grid-area: img2;
    height: 172px;
  }
  .img3 {
    grid-area: img3;
    height: 230px;
  }
  // catScreen
  .cat__presentation {
    display: flex;
    flex-direction: column;
  }
}
